<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAD_Project">

        <activity android:name=".ShowServices"></activity>
        <activity android:name=".AddServices" />
        <activity android:name=".AddService" />
        <activity android:name=".model.AddService" />

        <activity android:name=".UpdateArticle"></activity>
        <activity android:name=".AdminArticleList" />
        <activity android:name=".ArticleDetails" />
        <activity android:name=".AdminDashboard" />
        <activity android:name=".UserProfile" />

        <activity android:name=".RegisterActivity" />
        <activity android:name=".AddArticle" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ArticlesListActivity" />
        <activity android:name=".Booking" />
        <activity android:name=".BookingList" />
        <activity android:name=".BookingEdit" />
        <activity android:name=".AdminBookingList" />
        <activity android:name=".AdminBookingEdit" />
        <activity android:name=".model.HotelActivity"/>
        <activity android:name=".model.ViewHotelActivity" />
        <activity android:name=".model.AddEditHotelActivity" />
        <activity
            android:name=".LogInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>